/Escuela/pgavp24/Tareas/pav15.docx
/Escuela/pgavp24/Tareas/apuntes 2 de marzo.docx
/Escuela/pgavp24/Tareas/bubbleSort.xlsx
/Escuela/pgavp24/Examenes/Primer parcial/canva.docx
/Escuela/pgavp24/Examenes/SegundoParcial/Ejecucion Examen.docx
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/Escuela/pgavp24/Tareas/notas pav05.docx
/Escuela/pgavp24/Tareas/pav02.docx
/Escuela/pgavp24/Tareas/pav04.docx
/Escuela/pgavp24/Tareas/pav07.docx
/Escuela/pgavp24/Tareas/pav08.docx
/Escuela/pgavp24/Tareas/Pav20.docx
/Escuela/pgavp24/Tareas/pav21-ejecucion.docx
/Escuela/pgavp24/Tareas/pav22-ejecucion.docx
/Escuela/pgavp24/Tareas/pav26-ejecucion.docx
/Escuela/pgavp24/Tareas/pav28-ejecucion.docx
/Escuela/pgavp24/Tareas/pav31.docx
/Escuela/pgavp24/Tareas/pav33.docx
/Escuela/pgavp24/Tareas/pav39.docx
/.idea/inspectionProfiles/Project_Default.xml
/Escuela/pgavp24/Tareas/selectionSort.xlsx
/.idea/vcs.xml
